#h5poker-promo-detail {
    /* reset */
    *,
    ::after,
    ::before {
        box-sizing: border-box !important;
    }

    @font-face {
        font-family: 'PingFangSC';
        /* src: url(/PingFangSCRegular.woff); */
    }
    html {
        font-family: 'PingFangSC', sans-serif, 'DinPro', 'dinpro', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
        line-height: 1.15 !important;
        -webkit-text-size-adjust: 100% !important;
        -ms-text-size-adjust: 100% !important;
        -webkit-tap-highlight-color: transparent !important;
        height: 100;
        height: -webkit-fill-available;
    }

    html,
    body {
        overflow-x: hidden;
        scroll-behavior: smooth;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    body::-webkit-scrollbar,
    html::-webkit-scrollbar {
        display: none;
    }

    img {
        pointer-events: none;
    }

    * {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    .copy-text,
    input,
    textarea {
        -webkit-user-select: text !important;
        -moz-user-select: text !important;
        user-select: text !important;
    }
    @supports (bottom: env(safe-area-inset-bottom)) {
        #app {
            padding-bottom: constant(safe-area-inset-bottom);
            padding-bottom: env(safe-area-inset-bottom);
        }
    }
    article,
    aside,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    nav,
    section,
    caption {
        display: block !important;
    }

    html {
        overflow-x: hidden;
    }

    body {
        margin: 0 !important;
        -webkit-font-smoothing: antialiased !important;
        -webkit-text-size-adjust: 100% !important;
        font-family: 'PingFangSC', sans-serif, 'DinPro', 'dinpro', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
        font-weight: 400 !important;
        line-height: 1.5 !important;
        letter-spacing: 0 !important;
        color: var(--gy-text-primary) !important;
        text-align: left !important;
        font-size: 2.4vw;
        /* height: 390px; */
        /* background: var(--gy-bg-body); */
    }

    [tabindex='-1']:focus {
        outline: 0 !important;
    }

    hr {
        box-sizing: content-box;
        height: 0;
        overflow: visible;
        margin: 1rem 0;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    abbr[data-original-title],
    abbr[title] {
        text-decoration: underline !important;
        -webkit-text-decoration: underline dotted !important;
        text-decoration: underline dotted !important;
        cursor: help !important;
        border-bottom: 0;
    }

    ol ol,
    ol ul,
    ul ol,
    ul ul {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    ol,
    ul,
    dl {
        margin-top: 0 !important;
        margin-bottom: 1rem !important;
        padding-inline-start: 4vw;
        margin-left: 1.333vw;
    }

    ul li {
        margin: 0.5rem 0;
        list-style: disc !important;
    }

    li.disc {
        list-style-type: disc !important;
    }

    blockquote {
        margin: 0 0 1rem;
    }

    b,
    strong {
        font-weight: 700 !important;
    }

    img {
        max-width: 100% !important;
        height: auto;
        vertical-align: middle !important;
        border-style: none !important;
    }

    iframe {
        max-width: 100% !important;
    }

    svg {
        overflow: hidden !important;
        vertical-align: middle !important;
    }

    table {
        border-collapse: collapse !important;
    }

    th {
        text-align: inherit !important;
    }

    label {
        display: inline-block !important;
        margin-bottom: 0.5rem !important;
    }

    button {
        border-radius: 0;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
        margin: 0 !important;
        font-family: inherit !important;
        font-size: inherit !important;
        line-height: inherit !important;
    }

    button,
    input {
        overflow: visible !important;
    }

    button,
    select {
        text-transform: none !important;
    }

    [type='reset'],
    [type='submit'],
    button,
    html [type='button'] {
        -webkit-appearance: button !important;
    }

    [type='button']::-moz-focus-inner,
    [type='reset']::-moz-focus-inner,
    [type='submit']::-moz-focus-inner,
    button::-moz-focus-inner {
        padding: 0 !important;
        border-style: none !important;
    }
    .btn-opacity {
        opacity: 0.5;
    }
    .btn-disabled {
        background: linear-gradient(180deg, #bdbdbd 31.6%, #5f5c58 100.74%);
        color: #2c2b28;
        text-shadow: none;
    }

    input[type='checkbox'],
    input[type='radio'] {
        box-sizing: border-box !important;
        padding: 0 !important;
    }

    input[type='date'],
    input[type='datetime-local'],
    input[type='month'],
    input[type='time'] {
        -webkit-appearance: listbox !important;
    }

    textarea {
        overflow: auto !important;
        resize: vertical !important;
    }

    [type='number']::-webkit-inner-spin-button,
    [type='number']::-webkit-outer-spin-button {
        height: auto !important;
    }

    [type='search'] {
        outline-offset: -2px !important;
        -webkit-appearance: none !important;
    }

    [type='search']::-webkit-search-cancel-button,
    [type='search']::-webkit-search-decoration {
        -webkit-appearance: none !important;
    }

    ::-webkit-file-upload-button {
        font: inherit !important;
        -webkit-appearance: button !important;
    }

    table {
        border-collapse: collapse !important;
    }
    table td,
    table th {
        padding: 0.5rem 0rem;
    }

    [hidden] {
        display: none !important;
    }

    .invisible {
        visibility: hidden;
    }

    .align-items-center {
        align-items: center;
    }

    .justify-content-center {
        list-style: none;
        display: flex;
        justify-content: center !important;
    }

    .container {
        position: relative;
        padding-right: 4vw;
        padding-left: 4vw;
        margin-top: 4vw;
        max-width: 320vw;
        padding-bottom: 2rem;
    }

    /* background */
    .bg-black {
        background: #000000;
    }
    .bg-gradient-dark {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #393738 5%, #1a1a1a 68.74%);
    }
    .bg-gradient-bottom-dark-01 {
        background: linear-gradient(to top, #39373867 0%, #1a1a1a73 100%);
    }

    /* position */
    .relative {
        position: relative;
    }
    .absolute {
        position: absolute;
    }
    .bottom-0 {
        bottom: 0;
    }
    .right-0 {
        right: 0;
    }

    /* .kv {
        background-repeat: no-repeat !important;
        background-position: center top !important;
        background-image: url(./img/head1.webp) !important;
        background-size: 100% 34.6667vw !important;
        margin-right: 4vw;
        margin-left: 4vw;
        margin-top: 4vw;
        width: 92vw;
        height: 34.666667vw;
    } */

    .corner-radius-12px {
        border-radius: 3.2vw !important;
    }

    .promotion-time-range {
        font-size: 11px;
        height: 17px;
        padding: 0px 10px;
        left: 0;
        bottom: 2px;
        display: flex;
        align-items: center;
        border-radius: 0px 10px 0px 0px;
        border-top: 0.5px solid rgba(255, 255, 255, 0.1);
        border-right: 0.5px solid rgba(255, 255, 255, 0.1);
        background: linear-gradient(65deg, rgba(0, 0, 0, 0) 4.02%, rgba(0, 0, 0, 0.25) 32.15%, rgba(0, 0, 0, 0.35) 63.5%);
        z-index: 1;
    }
    .time-icon {
        width: 2.666667vw;
        height: 2.666667vw;
    }
    .content-border {
        padding: 1rem;
        /* border: 0.5px solid #ebebeb1a; */
        border-radius: 3.2vw;
        background: #282729;
        border: 1px solid #363337;
    }

    /* 整體 Spinner 容器 */
    .spinner {
        position: relative;
        width: 8vw; /* 圓的寬度 */
        animation: activityLoadingSpin 1.2s linear infinite;
    }

    /* 每一個線段的樣式 */
    .spinner div {
        position: absolute;
        width: 0.4vw;
        height: 1.067vw;
        background: #7e602a;
        border-radius: 20px;
        opacity: 0.2;
        top: 50%; /* 設定起始位置為中心 */
        left: 50%;
        transform-origin: center center; /* 以中心點旋轉 */
        transform: translate(-50%, -50%) rotate(0deg); /* 初始偏移和旋轉 */
        animation: activityLoadingFade 1.2s linear infinite;
    }

    .crm-float {
        position: fixed;
        right: 0px;
        bottom: 60px;
        width: 19.73vw;
        height: 27.2vw;
    }

    /* font-size/ color */
    .font-size-13px {
        font-size: 3.466667vw !important;
        font-weight: 400;
    }
    .font-size-34px {
        font-size: 4.8vw !important;
        font-weight: bold;
    }

    .fw-bold {
        font-weight: bold;
    }
    .text-brown {
        color: #7e602a !important;
    }
    .text-yellow {
        color: #ffb039 !important;
    }
    .text-white {
        color: #cfcfcf !important;
    }
    .text-danger {
        color: #ff423c !important;
    }
    .text-c {
        text-align: center;
    }
    p {
        margin: 0 !important;
    }

    /* width/ height */
    .width-100 {
        width: 100%;
    }
    .width-px-245 {
        width: 65.333333vw;
    }
    .height-px-35 {
        height: 9.333333vw;
    }
    .height-px-40 {
        height: 6.926vw;
    }

    /* table */
    thead {
        background: linear-gradient(180deg, #f1e8ce 0%, #bb9169 125%);
    }
    .th-border-radius:first-of-type {
        border-radius: 6px 0 0 0 !important;
    }
    .th-border-radius:last-of-type {
        border-radius: 0 6px 0 0 !important;
    }
    .table-bordered {
        border: 1px solid #3f3e41;
    }

    /* button */
    .text-gold-gradient {
        background: linear-gradient(45deg, #bead7a 0%, #e0bf88 15%, #fff3ce 44.78%, #d18b4a 96.4%);
        -webkit-background-clip: text;
        color: transparent;
    }
    .text-dark-gradient {
        background: linear-gradient(45deg, #5c5c5c 15%, #939393 44.78%, #312f2c 96.4%);
        -webkit-background-clip: text;
        color: transparent;
    }
    .btn-fill-primary {
        text-decoration: none;
        color: #fff;
        background: linear-gradient(114deg, #ff423c 32.33%, #13caff 85.34%);
        box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.6) inset;
        border-radius: 100rem;
        overflow: hidden;
        font-weight: 600;
        font-size: 3.733333vw;
        transition: all 0.5s;
    }
    .btn-fill-primary.disabled-gray {
        opacity: 0.5;
    }

    /* padding/ margin */

    .ml-1 {
        margin-left: 1.33vw !important;
    }
    .mr-1 {
        margin-right: 1.333vw !important;
    }
    .mt-1 {
        margin-top: 1.333vw !important;
    }
    .mt-2 {
        margin-top: 2.667vw !important;
    }
    .mt-3 {
        margin-top: 4vw !important;
    }
    .mt-4 {
        margin-top: 5.333vw !important;
    }
    .mt-5 {
        margin-top: 6.667vw !important;
    }

    .mb-1 {
        margin-bottom: 0.8vw !important;
    }
    .px-3 {
        padding-left: 4vw !important;
        padding-right: 4vw !important;
    }
    .pd-1 {
        padding: 1.333vw !important;
    }
}

@keyframes activityLoadingSpin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes activityLoadingFade {
    0%,
    100% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
}
